.contenedorCalculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #eae5e5;
  padding: 0 10px 10px 10px;
  margin: 20px auto;
}

/* Añade márgenes para separar los elementos internos */
.contenedorCalculadora > * {
  margin-bottom: 5px;
}
