.contenedorCalculadora{
    Display: flex;
    flex-direction: column;
    Justify-content:center;
    Align-items:center;
    background-color:whitesmoke;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eae5e5;
  }
  
  .ingresosDatos{
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #eae5e5;
    text-align: center;
  }
  
  .contenedorPesos{
    Display: flex;
    flex-wrap: wrap;
    Justify-content:center;
    Align-items:center;
  
  }
  
  .ingresosPesos{
    width: 80px;
    height: 50px;
    border: none;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid #eae5e5;
  }
  
  .botonCotizar{
    width: 150px;
    height: 50px;
    border: none;
    margin: 10px;
    border-radius: 15px;
    background-color: #AED035;
    color: white;
    font-weight:800;
  }

  .ciudadOrigen{
    width: 300px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #eae5e5;
  }