.contenedorCalculadora{
    Display: flex;
    flex-direction: column;
    Justify-content:center;
    Align-items:center;
    background-color:whitesmoke;
    width: 350px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eae5e5;
  }
  