.ciudad{
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #eae5e5;
    line-height: 24px;
    
  }

.ciudades-seleccionadas{
  /* background-color: red; */
  Display: flex;
  width:300px;
  flex-direction: row;
  Justify-content:center;
  margin: 10px;
  /* Align-items:right; */
}

.ciudad-seleccionada{
  /* background-color: rebeccapurple; */
  margin: 2px;
  text-align: center;
  width:130px;
}

.ciudad-seleccionada-destino{
  border-left: 2px solid #333;
}

.negrita{
  font-weight: bold;
}


.ciudadOrigen{
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #eae5e5;
}