
.resultadoCotizacion{
    Display: flex;
    flex-wrap: wrap;
    Justify-content:center;
    Align-items:center; 
    flex-direction: column;
    /* background-color: rebeccapurple; */
    text-align: center;
  }

  .botonCotizar{
    width: 150px;
    height: 50px;
    border: none;
    margin: 10px;
    border-radius: 15px;
    background-color: #AED035;
    color: white;
    font-weight:800;
  }

  .resultado{
    background-color: yellow;
    width: 300px;
    height: 130px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #eae5e5;
    text-align: center;
  }