  .resultadoCotizacion {
    Display: flex;
    flex-wrap: wrap;
    Justify-content:center;
    Align-items:center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
 
  .carroEmoji{
    font-size: 16px;
  }

  .resultadoCotizacion button {
    width: 9em;
    height: 3em;
    border-radius: 30rem;
    font-size: 12px;
    border: none;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
  }

  .resultadoCotizacion button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #AED035 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }

   .resultadoCotizacion button:hover::before {
    width: 9em;
   }
  
  /* .resultadoCotizacion button:hover {
    background-color: #45a049;
  } */











  
  .resultado {
    Display: flex;
    flex-wrap: wrap;
    Justify-content:center;
    Align-items:center;
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

  }
  
  .resultado h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .resultado p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
.resultado .negrita {
  font-weight: bold;
}
