.contenedorDescuento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    width: 260px;
    margin: 0px;
  }

  
  .inputDescargar {
    width: 100%;
    max-width: 220px; /* Ancho máximo para el botón de descarga */
    margin-top: 20px; /* Espaciado desde el contenedor anterior */
    text-align: center;
  }

  
  .invisible{
    display:none;
  }


  