.oculto {
  display: none;
}


.contenedor-formulario {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eae5e5;
    padding: 0 10px 20px 10px;
    margin: 20px auto;
    text-align: center;

  }

  .contenedor-formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
  }

  .cajas_informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    text-align: center;
    height: 55px;
    padding: 0 5px 0 10px;
  }

  .cajas_informacion label{
    display: flex;
    width: 55%;
    font-weight: 600;
    text-align: left;
    border-radius: 10px;
  }

  .cajas_informacion input {
    text-align: center;
    width: 45%;
    padding: 5px 0 5px 0;
    font-size: 14px;
    color: black;
    border-radius: 10px;
    background-color: transparent;
    border: solid 0.5px gray;
  }

  .infoClientes{
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 0.5px dashed
  }

  .infoClientes h4{ 
    margin-bottom:10px;
    /* text-align: left; */
  }

  .cajas_informacionCliente {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 4px 5px 3px 0;
  }

  .cajas_informacionCliente input {
    text-align: center;
    width: 60%;
    padding: 5px 0 5px 0;
    font-size: 14px;
    color: black;
    border-radius: 10px;
    background-color: transparent;
    border: solid 0.5px gray;
  }

  .cajas_informacionCliente label{
    display: flex;
    width: 40%;
    font-weight: 600;
    text-align: left;
    border-radius: 10px;
  }

  .informacionMacro{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 0.5px dashed
  }
  

  .boton-exportar {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    transition: .5s;
    background-color: white;
    overflow: hidden;
    font-weight: 700;
  }

  .boton-exportar:hover {
    background: #AED035;
    color: black;
    border-radius: 2px;
    box-shadow: 0 0 2px #AED035,
                0 0 10px #AED035,
                0 0 10px #AED035,
                0 0 10px #AED035;
  }

  .boton-exportar span {
    position: absolute;
    display: block;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }

    50%,100% {
      left: 100%;
    }
  }

  .boton-exportar span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #AED035);
    animation: btn-anim1 2s linear infinite;
  }