
body{
  margin: 0 auto;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.contenedorPrincipal{
  Display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  width: 100%;
  /* height: 100vh; */
  background-color: white;
  align-content:space-around;
  /* top:500px; */
}

.cambiaColor{
  background-color: aqua;
}